name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          override: true
          components: rustfmt
    - uses: denoland/setup-deno@v1
      with:
        deno-version: v1.x
    - name: Build
      run: cargo build --verbose --all-features --all-targets
    - name: Test
      run: cargo test --verbose --all-features
    - name: Check formatting
      run: cargo fmt -- --check --verbose
    - name: Autobahn|Testsuite
      run: deno run -A --unstable autobahn/server-test.js
